<% provide(:title, "About") %>
<h1>About</h1>
<div>
  <p>
    This app is the final project for the <a href="http://www3.austincc.edu/it/cms/www/catalog/coursedetails_fox.php?year=2016&deptcode=COIS#ITSE1394">Ruby on Rails class</a> that I took at Austin Community College in the Fall of 2015.  I got an A!
  </p>
  <p>
    Quite a bit of the content comes from the <a href="https://www.railstutorial.org/book/frontmatter"><em>Ruby on Rails Tutorial</em></a> by Michael Hartl.
  </p>
</div>