<% provide(:title, "Contact") %>
    <h1>Contact</h1>
    <p>
      <a href="mailto:mark.newman@g.austincc.edu">Mark Newman</a>
    </p>


<!-- the below is a dirty hack to be able to comment out the < % provide % > embedded Ruby code
<% if false %>
<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  <a href="mailto:mark.newman@g.austincc.edu">Mark Newman</a>
</p>
<% end %>