<!DOCTYPE html>
<html>
  <head>
    <title>Contact | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
      <a href="mailto:mark.newman@g.austincc.edu">Mark Newman</a>
    </p>
  </body>
</html>


<!-- the below is a dirty hack to be able to comment out the < % provide % >--- Ruby code
<% if false %>
<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  <a href="mailto:mark.newman@g.austincc.edu">Mark Newman</a>
</p>
<% end %>