<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Most of the content for this RoR app comes from the content found here: <a href="http://www.railstutorial.org/book"><em>Ruby on Rails</em> book</a>.
</p>