<div class="center jumbotron">
  <h1>Chapter 10 Account activation and password reset</h1>
  <br>
  <div id="chapter" class="container">
    <div class="row">
      <ul class="col-md-4">
        <b>10.1 Account activation</b>
        <li>10.1.1 Account activations resource</li>
        <li>10.1.2 Account activation mailer method</li>
        <li>10.1.3 Activating the account</li>
        <li>10.1.4 Activation test and refactoring</li>
      </ul>
      <ul class="col-md-4">
        <b>10.2 Password reset</b>
        <li>10.2.1 Password resets resource</li>
        <li>10.2.2 Password resets controller and form</li>
        <li>10.2.3 Password reset mailer method</li>
        <li>10.2.4 Resetting the password</li>
        <li>10.2.5 Password reset test</li>
      </ul>
      <ul class="col-md-4">
        <b>10.3 Email in production</b>
      </ul>
    </div>
  </div>
  <h2>This is the home page for the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application.</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),'http://rubyonrails.org/' %>