<div class="center jumbotron">
  <h1>Chapter 7: Sign up</h1>
  <div id="chapter_6" class="container">
    <div class="row">
      <ul class="col-md-4">
        <b>6.1 User model</b>
        <li>6.1.1 Database migrations</li>
        <li>6.1.2 The model file</li>
        <li>6.1.3 Creating user objects</li>
        <li>6.1.4 Finding user objects</li>
        <li>6.1.5 Updating user objects</li>
      </ul>
      <ul class="col-md-4">
        <b>6.2 User validations</b>
        <li>6.2.1 A validity test</li>
        <li>6.2.2 Validating presence</li>
        <li>6.2.3 Length validation</li>
        <li>6.2.4 Format validation</li>
        <li>6.2.5 Uniqueness validation</li>
      </ul>
      <ul class="col-md-4">
        <b>6.3 Adding a secure password</b>
        <li>6.3.1 A hashed password</li>
        <li>6.3.2 User has secure password</li>
        <li>6.3.3 Minimum password standards</li>
        <li>6.3.4 Creating and authenticating a user</li>
      </ul>
    </div>
  </div>
  <h2>This is the home page for the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application.</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),'http://rubyonrails.org/' %>