<div class="center jumbotron">
  <h1>Chapter 8 Log in, log out</h1>
  <br>
  <div id="chapter_7" class="container">
    <div class="row">
      <ul class="col-md-4">
        <b>8.1 Sessions</b>
        <li>8.1.1 Sessions controller</li>
        <li>8.1.2 Login form</li>
        <li>8.1.3 Finding and authenticating a user</li>
        <li>8.1.4 Rendering with a flash message</li>
        <li>8.1.5 A flash test</li>
      </ul>
      <ul class="col-md-4">
        <b>8.2 Logging in</b>
        <li>8.2.1 The log_in method</li>
        <li>8.2.2 Current user</li>
        <li>8.2.3 Changing the layout links</li>
        <li>8.2.4 Testing layout changes</li>
        <li>8.2.5 Login upon signup</li>
      </ul>
      <ul class="col-md-4">
        <b>8.3 Logging out</b>
      </ul>
      <ul class="col-md-4">
        <b>8.4 Remember me</b>
        <li>8.4.1 Remember token and digest</li>
        <li>8.4.2 Login with remembering</li>
        <li>8.4.3 Forgetting users</li>
        <li>8.4.4 Two subtle bugs</li>
        <li>8.4.5 "Remember me" checkbox</li>
        <li>8.4.6 Remember tests</li>
      </ul>
    </div>
  </div>
  <h2>This is the home page for the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application.</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),'http://rubyonrails.org/' %>